{% extends 'base.html.twig' %}

{% block title %}TemplateMethod{% endblock %}

{% block body %}
    <p>{{ saloonBooklet.printBooklet }}</p>
    <p>{{ serviceHistoryBooklet.printBooklet }}</p>
{% endblock %}
